#################
### GITCONFIG ###
#################

[user]
	name = Carlos Estrella
	email = cestrell@umich.edu

[color]
	ui = true
	diff = auto
	branch = auto
	status = auto

[core]
	editor = vim
	symlinks = true
	#excludesfile = ~/.gitignore_global

# Um
[credential]
	helper = wincred

[github]
	user = cestrell

[log]
	date = iso-strict	# Superior date format

[alias]
	a = add
	b = branch
	bs = git symbolic-ref --short HEAD
	c = commit
	cm = commit -m
	d = diff
	ps = push
	pl = pull
	psuo = push -u origin
	r = rebase
	s = status
	st = stash
	clog = log --all --decorate --oneline --graph
