# This is Git's per-user configuration file.
[user]
	name = cestrell
	email = cestrell@umich.edu

[color]
	ui = true
	status = always

[core]
	editor = vim

[alias]
	a = add
	b = branch
	bs = git symbolic-ref --short HEAD
	c = commit
	cm = commit -m
	d = diff
	ps = push
	pl = pull
	psuo = push -u origin
	s = status
	clog = log --all --decorate --oneline --graph
