###############
### INPUTRC ###
###############

# Readline: library that provides line-editing for interactive programs 
# with a command-line interface, such as Bash.

# No annoying bell
set bell-style none

# TODO
set colored-stats on

# TODO
set echo-control-characters off

# Show option list with TAB
set show-all-if-ambiguous on

# Case insensitivity for tab completion
set completion-ignore-case on

# Append filetype info to lists
set visible-stats on

# Tab-complete hidden files
set match-hidden-files on

# Highlight matching parentheses
set blink-matching-paren on

# TODO
set enable-bracketed-paste on

# TODO
set completion-map-case on

# TODO
set skip-completed-text on
